body { font-family: Helvetica, sans-serif;
       text-align: center;
}

header { background-image: url("../images/the-flatiron-building.png")}

h1 { color: white;
     font-size: 70px;
     }

a { color: white;
    font-size: 18px;
}

#process { font-size: 32px; }

h3 { font-size: 23px; }

h3~p { font-size: 14px;}

#york { background: url("../images/the-flatiron-building.png");
        color: white;
        font-size: 23px;
        }

address { font-style: normal; }

footer { background-color: dimgray;
         color: white;
         font-size: 11px;
         text-align: left;
}

span { font-size: 18px; }
